@use 'base';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../starter-code/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: transparent;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: base.$spacing-lg;
    }

    &__logo {
        aspect-ratio: 1/1;
        width: 2.5rem;
    }

    &__logo,
    &__menu-icon {
        display: block;
    }

    &__menu-button {
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 5;
    }

    &__nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: rgb(11, 13, 23, 0.15);
        backdrop-filter: blur(1.25rem);
        -webkit-backdrop-filter: blur(1.25rem);
        z-index: 2;
        padding-left: base.$spacing-xl;
        padding-top: base.$spacing-7xl;

        &-list {
            display: flex;
            flex-direction: column;
            gap: base.$spacing-xl;
            list-style: none;
        }

        &-item {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 0.2rem;
                background-color: base.$color-white;
            }
        }

        &-link {
            font-family: base.$font-family-barlow-condensed;
            font-size: base.$fs-base;
            font-weight: base.$fw-bold;
            color: base.$color-white;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: base.$spacing-2xs;

            &--name {
                font-weight: base.$fw-normal;
                margin-left: 0.25rem;
            }
        }
    }
}

.hero {
    padding: base.$spacing-lg;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 88px);

    &__content {
        display: flex;
        flex-direction: column;
        gap: base.$spacing-lg;
        text-align: center;
    }

    &__title {
        font-family: base.$font-family-barlow-condensed;
        font-size: base.$fs-base;
        font-weight: base.$fw-normal;
        letter-spacing: base.$spacing-2xs;
        text-transform: uppercase;
        color: base.$color-blue-300;

        &--highlight {
            display: block;
            margin-top: base.$spacing-lg;
            font-family: base.$font-family-bellafair;
            font-size: base.$fs-9xl;
            color: base.$color-white;
        }
    }

    &__description {
        font-family: base.$font-family-barlow;
        font-size: base.$fs-sm;
        font-weight: base.$fw-normal;
        line-height: calc(180 / 100 * base.$fs-sm);
        color: base.$color-blue-300;
    }

    &__explore {
        margin: auto 0;
        text-align: center;
        position: relative;

        &-button {
            background-color: base.$color-white;
            border: none;
            aspect-ratio: 1/1;
            width: 9rem;
            border-radius: 50%;
            font-family: base.$font-family-bellafair;
            font-size: base.$fs-lg;
            font-weight: base.$fw-normal;
            color: base.$color-blue-900;
            text-transform: uppercase;
            z-index: 1;
            position: relative;
            cursor: pointer;

            &:hover + .hero__explore-hover-overlay {
                opacity: 1;
            }
        }

        &-hover-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            aspect-ratio: 1/1;
            width: 15rem;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
}
